/.pytest_cache
/.vscode
*.exe
/Go_Workspace/bin
/Go_Workspace/pkg
/Go_Programming
/CSE_334_Project
/LeetCodeWithCpp
/C++_programming/STLs/
/Web_Development_HTML_CSS_Bootstrap/HTML/Prroject_Portfolio
/Python
/Web_Development_HTML_CSS_Bootstrap/WebSitesOnGitHub 
/Web_Development_HTML_CSS_Bootstrap/WebSitesOnGitHub